<div class="container">

    <h1> Advisees </h1>
    <div class="d-flex justify-content-start align-items-center">
        <input class="form-control w-25 p-1 mb-2 mr-4" type="text" placeholder="Search for the  advisees">
        <h4>Enter Search Text</h4>
    </div>


    <table class=" table table-striped">
        <thead>
            <tr>
                <th>Sid</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Credit Hrs</th>
                <th>Gpa Points</th>
                <th>Major</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{ student.id }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.credit_hrs }}</td>
                <td>{{ student.gpa_points }}</td>
                <td>{{ student.major }}</td>
            </tr>
        </tbody>
    </table>
</div>